.loader-wrapper {
  font-size: 3rem;
  background-color: #aaa;
  opacity: 0.8;
  color: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.loader-wrapper p {
  margin-left: calc(50% - 5rem);
}
